body {

  background-color: lightblue;
}
.titulo-rojo{
  color: red;
  font-size: 20px;
}

.titulo-rojo-power{
  font-weight: 1000;
}
#contacto{
  background-color: pink;
}
.profile{
  width: 250px;
  height: 250px;
}

.lista {
  list-style-type: none; 
}
